{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
<script>
  $('#txtDOB').datetimepicker({
    // format: 'd/m/Y H:i'
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });
  var check = true;
  function showHiddenOldPassword() {
    if (check) {
      $('#txtOldPassword').attr("type", "text");
      $('#eye1').attr('class', 'fa fa-2x fa-eye float-right eye');
      check = false;
    } else {
      $('#txtOldPassword').attr('type', 'password');
      $('#eye1').attr('class', 'fa fa-2x fa-eye-slash float-right eye');
      check = true;
    }
  }

  var check1 = true;
  function showHiddenNewPassword() {
    if (check1) {
      $('#txtNewPassword').attr("type", "text");
      $('#eye2').attr('class', 'fa fa-2x fa-eye float-right eye');
      check1 = false;
    } else {
      $('#txtNewPassword').attr('type', 'password');
      $('#eye2').attr('class', 'fa fa-2x fa-eye-slash float-right eye');
      check1 = true;
    }
  }
  var check2 = true;
  function showHiddenConfirm() {

    if (check2) {
      $('#txtConfirmPassword').attr('type', 'text');
      $('#eye3').attr('class', 'fa fa-2x fa-eye float-right eye');
      check2 = false;
    } else {
      $('#txtConfirmPassword').attr('type', 'password');
      $('#eye3').attr('class', 'fa fa-2x fa-eye-slash float-right eye');
      check2 = true;
    }
  }
</script>
{{/section}}
<div class="container">
  <div class="card shadow mb-4" id="register">
    <h3 class="card-header text-dangerr">
      <i class="fa fa-edit"></i> Password
    </h3>
    <div class="card-body">
      <form method="POST" id="frmChangePassword" name="frmChangePassword">
        {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{error}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="txtOldPassword" class="chulon"><i class="fa fa-unlock-alt"></i> Your Old Password <i
                  class="fa fa-star text-danger"></i></label>
              <span class="fa fa-2x fa-eye-slash float-right eye" id="eye1" onclick="showHiddenOldPassword()"></span>
              <input type="password" class="form-control" id="txtOldPassword" name="oldpassword" autofocus>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="txtNewPassword" class="chulon"><i class="fa fa-lock"></i> Your New Password <i
                  class="fa fa-star text-danger"></i></label>
              <span class="fa fa-2x fa-eye-slash float-right eye" id="eye2" onclick="showHiddenNewPassword()"></span>
              <input type="password" class="form-control" id="txtNewPassword" name="newpassword">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="txtConfirmPassword" class="chulon"><i class="fa fa-lock"></i> Confirm New Password <i
                  class="fa fa-star text-danger"></i></label>
              <span class="fa fa-2x fa-eye-slash float-right eye" id="eye3" onclick="showHiddenConfirm()"></span>
              <input type="password" class="form-control" id="txtConfirmPassword" name="confirmpassword">
            </div>
          </div>
        </div>
        <a class="btn btn-info" href="/account/profile" role="button">
          <i class="fa fa-backward" aria-hidden="true"></i>
          Profile
        </a>
        <button type="submit" class="btn btn-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          Change
        </button>
      </form>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</div>