{{#section 'js'}}
<script>
    function validate() {
        const result = true;
        const email = $('#txtEmail').val();
        if (email === '') {
            $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Please fill in all fields</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
            return false;
        }
        return result;
    }
</script>

{{/section}}
<div class="container">
    <div class="card shadow mb-4" id="register">
        <h3 class="card-header text-danger">
            <i class="fa fa-edit"></i> Forgot password
        </h3>
        <div class="card-body">
            <form onsubmit="return validate();" method="POST" id="frmForgotPassword" name="frmForgotPassword">
                {{#if error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{error}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                {{#if error_msg}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{error_msg}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <div class="row abcdef">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtEmail" class="chulon"><i class="fa fa-envelope"></i> Email recovery <i
                                    class="fa fa-star text-danger"></i></label>
                            <input type="text" class="form-control" id="txtEmail" name="email"
                                placeholder="abc@gmail.com" value="{{email}}" autofocus>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Get OTP
                </button>
            </form>
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
</div>