 <div id="wrapper">
    <div class="my_profile row mb-5">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h4>BIDDER INFO</h4>
                <button id="btnLike" class="btn btn-light">
                    <i class="fa fa-thumbs-up"></i>
                    <span id="numLike">8</span>
                </button>
                <button id="btnDislike" class="btn btn-light">
                    <i class="fa fa-thumbs-down"></i>
                    <span id="numDislike">2</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 340px;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex flex-row">Name:</div>
                    <div class="d-flex flex-row">Time Create:</div>
                    <div class="d-flex flex-row">Won Product:</div>
                    <div class="d-flex flex-row">Email:</div>
                    <div class="d-flex flex-row">Phone Number:</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h4>REVIEW</h4>

            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <span class="row">
                        <div class="col-lg-1 btnRv"><i class="fa fa-thumbs-up"></i></div>
                        <div class="user_review_container d-flex flex-column
                            flex-sm-row col-lg-11">
                            <div class="review">
                                <div class="rev">Lorem ipsum
                                    dolor sit amet, consectetur adipisicing
                                    elit. Nesciunt quisquam magni mollitia
                                    impedit. Illum reprehenderit quam harum qui
                                    debitis perspiciatis accusamus, quisquam vel
                                    corporis quos est voluptatibus corrupti,
                                    reiciendis velit.</div>
                                <div class="nameReviewer">Name: hieuho</div>
                                <p class="reviewDate">Date: 02/01/2020 01:08:05</p>
                            </div>
                        </div>
                    </span>
                     <span class="row">
                        <div class="col-lg-1 btnRv"><i class="fa fa-thumbs-down"></i></div>
                        <div class="user_review_container d-flex flex-column
                            flex-sm-row col-lg-11">
                            <div class="review">
                                <div class="rev">Lorem ipsum
                                    dolor sit amet, consectetur adipisicing
                                    elit. Nesciunt quisquam magni mollitia
                                    impedit. Illum reprehenderit quam harum qui
                                    debitis perspiciatis accusamus, quisquam vel
                                    corporis quos est voluptatibus corrupti,
                                    reiciendis velit.</div>
                                <div class="nameReviewer">Name: hieuho</div>
                                <p class="reviewDate">Date: 02/01/2020 01:08:05</p>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <p class="formRv">
            <input type="text" name="content" id="content" class="form-control"
                value="" placeholder="...">
            <button type="button" class="btn btn-primary btn-add-question">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </p>
    </div>
</div>