{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<style>
  .eye {
    cursor: pointer;
  }
</style>
{{/section}}

{{#section 'js'}}

<script>
  function validate() {
    const result = true;
    const newpassword = $('#txtNewPassword').val();
    const confirmpassword = $('#txtConfirmPassword').val();
    if (newpassword === '' || confirmpassword === '') {
      $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Please fill in all fields</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
      return false;
    }

    if (newpassword.length < 4) {
      $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>New password must be at least 4 characters</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
      result = false;
    }
    return result;
  }
</script>
<script>
  var check = true;
  function showHiddenPassword() {
    if (check) {
      $('#txtNewPassword').attr("type", "text");
      $('#eye1').attr('class', 'fa fa-2x fa-eye float-right eye');
      check = false;
    } else {
      $('#txtNewPassword').attr('type', 'password');
      $('#eye1').attr('class', 'fa fa-2x fa-eye-slash float-right eye');
      check = true;
    }
  }
  var check1 = true;
  function showHiddenConfirm() {

    if (check1) {
      $('#txtConfirmPassword').attr('type', 'text');
      $('#eye2').attr('class', 'fa fa-2x fa-eye float-right eye');
      check1 = false;
    } else {
      $('#txtConfirmPassword').attr('type', 'password');
      $('#eye2').attr('class', 'fa fa-2x fa-eye-slash float-right eye');
      check1 = true;
    }
  }

</script>
{{/section}}
<div class="container">
  <div class="card shadow mb-4" id="register">
    <h3 class="card-header text-danger">
      <i class="fa fa-edit"></i> New password
    </h3>
    <div class="card-body">
      <form onsubmit="return validate();" method="POST" id="frmChangePassword" name="frmChangePassword">
        {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{error}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        <div class="row abcdef">
          <div class="col">
            <div class="form-group">
              <label for="txtNewPassword" class="chulon"><i class="fa fa-lock"></i> Your New Password <i
                  class="fa fa-star text-danger"></i></label>
              <span class="fa fa-2x fa-eye-slash float-right eye" id="eye1" onclick="showHiddenPassword()"></span>
              <input type="password" class="form-control" id="txtNewPassword" name="newpassword">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="txtConfirmPassword" class="chulon"><i class="fa fa-lock"></i> Confirm New Password <i
                  class="fa fa-star text-danger"></i></label>
              <span class="fa fa-2x fa-eye-slash float-right eye" id="eye2" onclick="showHiddenPassword()"></span>
              <input type="password" class="form-control" id="txtConfirmPassword" name="confirmpassword">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          Change
        </button>
      </form>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</div>