<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu" style="width:200px">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="hamburger_menu_content text-right">
				<ul class="menu_top_nav">
					<li class="menu_item has-children">
						<a href="#">
							My Account
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="menu_selection">
							<li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
							<li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign up</a></li>
						</ul>
					</li>
					<li class="menu_item"><a href="index.html">home</a></li>
					<li class="menu_item"><a href="categories.html">categories</a></li>
					<li class="menu_item"><a href="#">your auction</a></li>
				</ul>
			</div>
	</div>

		<!-- Slider -->

		<div class="main_slider" style="background-image:url(images/banner_index.png);height:300px">
			<div class="container fill_height">
				<div class="row align-items-center fill_height">
					<div class="col">
						<div class="main_slider_content">
							<h6>We are ship to all of Ho Chi Minh City for 1$</h6>
							<h1>1$ ONLY!</h1>
							Applied until the end of December, 2019
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- The product is almost finished -->
		<div class="new_arrivals">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_title new_arrivals_title">
							<h4>The product is almost finished</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
							<div class="timer">
							</div>
							<!-- Product 1 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_1.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $200</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Samsung Galaxy J7</a></h6>
										<div class="product_price price_custom">$130</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">December 2, 2019 15:37:25</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 2 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_2.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $1000</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Laptop HP Pavilionx360 14”</a></h6>
										<div class="product_price price_custom">$644</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 29, 2019 15:37:25</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 3 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_3.jpg" alt="">
									</div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Inear headphones marshall</a></h6>
										<div class="product_price price_custom">$160</div>
										<div class="d-flex flex-row time_custom justify-content-center">
															<div class="product_expiration_date timer_num time_custom_number">November 30, 2019 15:37:25</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 4 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_4.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $20</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Mouse Genius NX7005</a></h6>
										<div class="product_price price_custom">$10</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 25, 2019 20:15:10</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 5 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_5.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $25</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Mouse logitech M331</a></h6>
										<div class="product_price price_custom">$15</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 26, 2019 20:15:10</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- The most auctioned products -->
		<div class="new_arrivals">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_title new_arrivals_title">
							<h4>The most auctioned products</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
							<!-- Product 6 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_7.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $200</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Oppo A5 3GB ram 64GB</a></h6>
										<div class="product_price price_custom">$200</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 27, 2019 20:15:10</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 7 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_7.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $200</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Oppo A5 3GB ram 64GB</a></h6>
										<div class="product_price price_custom">$200</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 27, 2019 20:15:10</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>

							<!-- Product 8 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_6.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $200</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Headphone Sennheiser TWS</a></h6>
										<div class="product_price price_custom">$150</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">December 1, 2019 20:15:10</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 9 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_9.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $200</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Nokia 6</a></h6>
										<div class="product_price price_custom">$171</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 25, 2019 00:15:10</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 10 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_10.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $1000</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Laptop Asus VivoBook</a></h6>
										<div class="product_price price_custom">$750</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 25, 2019 11:15:10</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- The products have the highest prices -->
		<div class="new_arrivals">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_title new_arrivals_title">
							<h4>The products have the highest prices</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
							<!-- Product 1 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_2.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $1000</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Laptop HP Pavilionx360 14”</a></h6>
										<div class="product_price price_custom">$644</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 24, 2019 23:59:00</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 2 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_2.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $1000</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Laptop HP Pavilionx360 14”</a></h6>
										<div class="product_price price_custom">$644</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 24, 2019 23:59:00</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 3 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_10.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $1000</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Laptop Asus VivoBook</a></h6>
										<div class="product_price price_custom">$750</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 24, 2019 23:59:00</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 4 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_9.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $200</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Nokia 6</a></h6>
										<div class="product_price price_custom">$171</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 29 23:59:00</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- Product 5 -->
							<div class="product-item men ">
								<div class="product discount product_filter ">
									<div class="product_image">
										<img src="images/product_3.jpg" alt="">
									</div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Buy now: $200</span></div>
									<div class="favorite favorite_left"></div>
									<div class="product_info">
										<h6 class="product_name"><a href="single.html">Tai nghe in ear marshall</a></h6>
										<div class="product_price price_custom">$160</div>
										<div class="d-flex flex-row time_custom justify-content-center">
											<div class="product_expiration_date timer_num time_custom_number">November 24, 2019 23:59:00</div>
										</div>
									</div>
								</div>
								<div class="mt-3 ml-3">Current Winer: tcs123</div>
								<div class="d-flex flex-row justify-content-between mr-3">
									<div class="ml-3 date_post">01/11/2019</div>
									<div>30&nbsp<i class="fa fa-gavel" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Benefit -->

		<div class="benefit">
			<div class="container">
				<div class="row benefit_row">
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>free shipping</h6>
								<p>Free shipping for first order</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>Rating</h6>
								<p>Review for the order</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>Exchange</h6>
								<p>Exchange returns if an error is detected</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fas fa-hammer" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>Money Auction</h6>
								<p>Auctions from 1K !</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Newsletter -->

		<div class="newsletter">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
							<h4>Online Auction</h4>
							<p>Committed to bringing the best quality to users</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>