.between_time{
  font-size:20px;
  color: red;
  top: 50%;
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}
.time_custom_number{
  font-size:20px;
}
.time_custom{
  position: static;
}
.date_post{
  color: blue;
}
.price_custom{
  font-size: 25px !important;
  color: black !important;
}
