{{#section 'js'}}
<script>
  function validate() {
    const result = true;
    const catName = $('#catName').val();
    //Kiểm tra các trường
    if (catName == '') {
      $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Please enter on category name</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".labelParentCat");
      return false;
    }
    return result;
  }
</script>
{{/section}}


<div class="cate row">
  <div class="card shadow col-lg-6">
    <h4 class="card-header">
      New Category
    </h4>
    <div class="card-body">
      <form onsubmit="return validate();" method="POST">
        <div class="form-group">
          <label for="txtCatName">Category name</label>
          <input type="text" class="form-control" id="catName" name="catName" placeholder="Enter category name"
            autofocus value="{{oldcatname}}">
          {{#if correct}}
          {{else}}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Category name already exists!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{/if}}
          <label for="parentName" class="labelParentCat mt-3">Select parent</label>
          <select id="parentName" name="parentId" class="custom-select custom-select-sm">
            <option value="0" {{#if_eq oldparentid 0}} selected {{/if_eq}}>--Parent category--</option>
            {{#each this.parentName}}
            <option value="{{CatID}}" {{#if_eq ../oldparentid CatID}} selected {{/if_eq}}>{{CatName}}
            </option>
            {{/each}}
          </select>
        </div>
        <div class="d-flex justify-content-between">
          <a class="btn btn-outline-primary" href="/admin/categories" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            &nbspBack to list
          </a>
          <button type="submit" class="btn btn-outline-success">
            <i class="fa fa-check" aria-hidden="true"></i>
            Save
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</div>